* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green !important; */
}
/* dark theme */
:root {
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-Second: hsl(237, 14%, 26%);
  --Check-Background: linear-gradient(
    120deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
}
html[data-theme-mode="light"] {
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(33, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --Very-Dark-Blue: hsl(236, 33%, 92%);
  --Very-Dark-Desaturated-Blue: hsl(0, 0%, 98%);
  --Light-Grayish-Blue: hsl(235, 19%, 35%);
  --Very-Dark-Grayish-Blue: hsl(236, 9%, 61%);
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 100%;
  background: var(--Very-Dark-Blue);
}
img {
  display: block;
}
.container {
  margin: auto;
  background-image: url(img/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  padding: 3rem 5%;
}
.container.dark {
  background-image: url(img/bg-desktop-dark.jpg);
}
.todo-container {
  max-width: 33.75rem;
  margin: auto;
}
.title-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: clamp(0.75rem, 8vw, 2.5rem);
  font-weight: 700;
  color: var(--Very-Light-Grayish-Blue);
  letter-spacing: 0.375em;
}
.button-mode {
  width: clamp(0.25rem, 8vw, 1.675rem);
}
.todo-text {
  margin: 1.5rem 0;
  background: var(--Very-Dark-Desaturated-Blue);
  border-radius: 4px;
  padding: 0 4%;
}
.input-text {
  width: 100%;
  font-size: clamp(0.75rem, 4vw, 1.25rem);
  padding: 1em;
  border: none;
  outline: none;
  background: none;
  color: var(--Light-Grayish-Blue);
}
.input-text:placeholder {
  color: var(--Light-Grayish-Blue);
}
.todo-list-cont {
  border-radius: 0.4rem;
  overflow: hidden;
}
.todo-list {
  height: 50vh;
  overflow: auto;
  background: var(--Very-Dark-Desaturated-Blue);
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.65em, 5vw, 1.125em) clamp(0.75em, 6vw, 1.5em);
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
}
.button-check {
  width: clamp(0.75rem, 5.5vw, 1.5rem);
  aspect-ratio: 1/1;
  border: 1px solid var(--Very-Dark-Grayish-Blue);
  display: flex;
  border-radius: 50%;
  transition: 0.2s ease-out;
}
:is(.button-check, button, .text):hover {
  cursor: pointer;
}
.list.check .button-check,
.list.check img,
.list.check .text {
  background: var(--Check-Background);
  opacity: 1;
  text-decoration: line-through;
  color: var(--Very-Dark-Grayish-Blue);
}
.button-check img {
  width: 40%;
  margin: auto;
  opacity: 0;
  background: none !important;
}
.text {
  font-size: clamp(0.75rem, 3.5vw, 1.25rem);
  color: var(--Light-Grayish-Blue);
  margin-right: auto;
  margin: 0 clamp(0.75em, 6vw, 1.5em);
  background: none !important;
  transition: 0.2s ease-out;
}
.button-delete {
  width: clamp(0.5rem, 5vw, 1.125rem);
  background: none !important;
  margin-left: auto;
  cursor: pointer;
}
.bottom-bar {
  height: 3.125rem;
  font-size: 0.875rem;
  color: var(--Very-Dark-Grayish-Blue);
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--Very-Dark-Desaturated-Blue);
  border-top: 1px solid var(--Very-Dark-Grayish-Blue);
}
.button-clear {
  font-size: 0.875rem;
  border: none;
  outline: none;
  background: none;
  color: var(--Very-Dark-Grayish-Blue);
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Very-Dark-Desaturated-Blue);
  padding: 0 4%;
  border-radius: 4px;
}
.filter.smaller-screen {
  display: none;
}
.filter button {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 1.2rem;
  border: none;
  outline: none;
  background: none;
  color: var(--Very-Dark-Grayish-Blue);
  transition: 0.2s ease-out;
}
.filter button.active {
  color: hsl(220, 98%, 61%);
}
button:hover {
  color: var(--Light-Grayish-Blue);
}
.info {
  font-size: 0.875rem;
  color: var(--Very-Dark-Grayish-Blue);
  text-align: center;
  padding-top: 1em;
  padding-bottom: 10%;
}
/* responsibility */
@media (width <= 574px) {
  .container {
    background-image: url(img/bg-mobile-light.jpg);
  }
  .container.dark {
    background-image: url(img/bg-mobile-dark.jpg);
  }
  .filter.wider-screen {
    display: none;
  }
  .filter.smaller-screen {
    height: 3.125rem;
    display: flex;
    margin: auto;
    margin-top: 1rem;
  }
}
